.App {
  text-align: center;
}

body {
  background-color: teal;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h1 {
  font-size: 72px;
  font-weight: bold;
}

h3 {
  font-size: 36px;
}

.btn {
  width: 90%;
  max-width: 500px;
  font-size: 36px;
  font-weight: bold;
  padding: 10px;
  background-color: lavender;
  margin: 10px;
}

select {
  height: 36px;
  width: 100px;
  margin-left: 10px;
}
