.App {
  text-align: center;
}

body {
  background-color: teal;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h1 {
  font-size: 72px;
  font-weight: bold;
}

h3 {
  font-size: 36px;
}

.newNickname {
  width: 90%;
  font-size: 36px;
  font-weight: bold;
  padding: 10px;
  background-color: lavender;
}
